{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>View Details to Delete</title>
        <link rel="stylesheet" href="{% static 'main.css' %}"/>
        <script type="text/javascript">
            var substate = {
                AndhraPradesh: ["East Godavari", "West Godavari", "Krishna", "Guntur", "Prakasam", "Srikakulam", "Vizianagaram", "Visakhapatnam", "Kurnool", "Chittoor", "Kadapa", "Anantapur"],
                Telangana: ["Warangal", "Nizamabad", "Karimnagar", "Adilabad", "Bhadradri", "Kothagudem", "Hyderabad", "Jagtial", "Jangaon", "Jayashankar", "Bhupalapally", "Jogulamba", "Kamareddy", "Karimnagar", "Khammam", "Kumarambheem"]
            }

            function SelectStateNDist(value) {
                if (value.length == 0)
                    document.getElementById("district").innerHTML = "<option></option>";
                else {
                    var citiesOptions = "";
                    for (stateId in substate[value]) {
                        citiesOptions += "<option>" + substate[value][stateId] + "</option>";
                    }
                    document.getElementById("district").innerHTML = citiesOptions;
                }
            }


            function resetSelection() {
                document.getElementById("state").selectedIndex = 0;
                document.getElementById("district").selectedIndex = 0;
            }
        </script>
    </head>
    <<body  style= "background-color : EBEDEF "  >
        <div style="text-align: center;background-color: aqua;" >
      <p style="font-size: 50px; font-weight: 900; font-family: 'Times New Roman', Times, serif; ">International Hospitals Pvt.Ltd</p>
  </div>
     


        <div   style="margin-top: 2%; margin-bottom: 2%;" >
            <form method="post" action="deleting">
                {% csrf_token %}
                <h4 style="text-align: center;">Delete Patient</h4>
                <table style="padding-top: 10px; padding-left: 35%; padding-right: 35%;">
                    <tr>
                        {% for p in p %}
                        <td style="padding-bottom: 2%;">Patient Name:<font color="red">*<font> </td>
                        <td style="padding-left: 5%;  padding-bottom: 3%;">
                            <input class="form-label" type="text" name="Name" readonly="readonly" value="{{p.patient_name}}" id="name" required>
                            <input type="hidden" name="id" value="{{p.id}}" id="name" required>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 2%;">Patient Age:<font color="red">*<font> </td>
                        <td style="padding-left: 5%;  padding-bottom: 3%;">
                            <input class="form-label" type="text" name="Age" readonly="readonly" value="{{p.age}}" id="age" required></td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 2%;">Date of Admission:<font color="red">*<font> </td>
                        <td style="padding-left: 5%; padding-bottom: 3%;">
                            <input class="form-label" type="date" name="doa" readonly="readonly" value="{{p.doa}}" id="age" required></td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 2%;">Type of bed:<font color="red">*<font> </td>
                        <td style="padding-left: 5%; padding-bottom: 3%;">
                            <select class="form-label" name='typ'readonly="readonly" required>
                                <option value="{{p.type_of_bed}}" >{{p.type_of_bed}}</option>
                                
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 2%;">Address:<font color="red">*<font> </td>
                        <td style="padding-left: 5%;  padding-bottom: 3%;">
                            <textarea class="form-label" value="{{p}}" rows="2" cols="20" name="add"  readonly="readonly" readonly="readonly" required>{{p.address}}</textarea></td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 2%;">State:<font color="red">*<font></td>
                        <td style="padding-left: 5%;  padding-bottom: 3%;">
                            <select class="form-label" id="state" size="1" name="state"  readonly="readonly" onchange="SelectStateNDist(this.value)" required>
                                <option value="{{p.state1}}" >{{p.state1}}</option>
                                
                            </select></td></tr>
                    <tr>
                        <td style="padding-bottom: 2%;">District:<font color="red">*<font></td>
                        <td style="padding-left: 5%; padding-bottom: 3%;">
                            <select class="form-label" id="district" size="1" name="District" readonly="readonly"  required>
                                <option value="{{p.city}}" > {{p.city}} </option>
                                
                            </select></td></tr>
                    <tr >
                        <td colspan="2" align="center"> {% endfor %}
                            <button class="btn" type="submit">Delete</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
       
        
        <footer>
            <h3>Copyrights &copy; All rights reserved by <span style="color: white;"> Hospital Management System</span></h3>
        </footer>
    </body>
</html>
